@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Purple #6d3580 */
/* Magenta #cc4165 */
/* Orange #e4734f */
/* Yellow #ffe26f */

* {
  box-sizing: border-box;
}

body {
	color: rgba(255,255,255,.75);
	background-color: #222;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
}
a {
  color: #e4734f;
}
.byline {
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.container {
  border: 1px solid white;
	margin: auto;
  min-width: 300px;
	width: 100%;
}

.flex_grid {
  display: flex;
  flex-wrap: wrap
}

.flex_grid > a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid white;
  flex-grow: 1;
  margin: 10px;
  min-height: 150px;
  min-width: 240px;
  position: relative;
}

.flex_grid h3 {
  background-color: white;
  margin: 0;
  padding: 6px 15px;
  position: absolute;
  width: 100%;

  bottom: 0;
}

#player {
	border-bottom: 1px solid gray;
	display: block;
	padding-bottom: 30px;
}

progress {
	width: 100%;
}

#log {
	/*border: 2px solid;*/
	padding: 0 10px;
}



.unstarted {
	border-color: red;
	color: red;
}
.buffering {
	color: yellow;
}
.cued {
	color: dodgerblue;
}
.playing {
	color: lime;
}
.paused {
	color: grey;
	font-weight: bold;
}
.ended {
	color: purple;
}

@media screen (min-width: 660px) {
  .container {
    width: 600px;
  }
}
